<ion-view view-title="takvim" ng-controller="CalendarCtrl">
 

    <ion-pane>
        <ion-header-bar class="bar-dark" style="background-color:#009d97">
            <h1 class="title">Beautiful Agenda</h1>
        </ion-header-bar>


        <div id="gridHeader" class="grid-header"  ng-style="{'overflow': 'false', 'width' : (200 * rooms.length + 60) + 'px', 'left':'-'+timerleft}">
           <div class="grid-header-clock" style="left: 0px;">
        
            </div>
            <div class="grid-header-labels" ng-repeat="room in rooms">
                <div class="grid-header-label">{{room.name}}
                    <div class="grid-header-label-divider"></div>
                </div>

            </div>
            
        </div>
        <ion-content scroll="true" direction="xy"  has-bouncing="false"  on-scroll="gotScrolled()">
            <div id="gridBody" class="grid-body ui-block"  >
                <div style="position:relative" ng-repeat="day in days">
                    <div id="gridTimesHolder" class="grid-times-holder" ng-style="{'left':timerleft}" >
                        <div class="day-label">{{day.day.substr(0, 3)}}</div>  
                        <div class="grid-times" ng-repeat="hour in hours">
                            <div class="grid-time-label">{{hour}}</div> 
                        </div>
                    </div>
                    <div class="grid-sessions" ng-style="{'height' : (40 * hours.length + 24) + 'px'}">
                        <div class="grid-sessions-day" ng-style="{'overflow': 'true', 'width' : (130 * rooms.length + 60) + 'px'}"
                             >
                            <div ng-repeat="event in events| filter:{ dateformat: day.dateformat}">
                                <div class="grid-session-cell" ng-style="{'top':event.top, 'left':event.left, 'height':event.height, 'background-color':event.color}">
                                    <i class="icon  grid-session-icon" ng-class="event.eventtype"></i>
                                    <div class="grid-session-title">{{event.eventname}}</div>
                                    <div class="grid-session-time">{{event.starthour}}-{{event.endhour}}</div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="grid-date-holder" ng-style="{'overflow': 'true', 'width' : (200 * rooms.length) + 'px'}">
                        <div class="day-label">{{day.longdate}}</div> 

                    </div>

                </div>

            </div>



        </ion-content>
    </ion-pane>
 
</ion-view>