<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Menü</h1> 
    </ion-header-bar>
    <ion-content class="back">
      <ion-list>
        <ion-item menu-close ng-click="login()">
          Login
        </ion-item>

 <!--       <ion-item menu-close href="#/app/mainpage">
          Ana Sayfa
        </ion-item> -->
        <ion-item menu-close href="#/app/mainpage">Ana Sayfa </ion-item>
        <ion-item menu-close href="#/app/teachers">Eğitmenler</ion-item>


        <!--
        <ion-item menu-close href="#/app/addteacher">Öğrenci Ekle</ion-item>
        <ion-item menu-close href="#/app/addteacher">Sınıf Ekle</ion-item>
        <ion-item menu-close href="#/app/addteacher">Salon Ekle</ion-item>

        <ion-item menu-close href="#/app/students" ng-show="profile.isAdmin">
          Öğrenci
        </ion-item>
        <ion-item menu-close href="#/app/teachers"  ng-show="profile.isAdmin">
          Öğretmen
        </ion-item>
        <ion-item menu-close href="#/app/branches"  ng-show="profile.isAdmin">
          Spor Dalları
        </ion-item>
        <ion-item menu-close href="#/app/calendar"  ng-show="profile.isAdmin">
          Takvim
        </ion-item>
         <ion-item menu-close href="#/app/azureweb"  ng-show="profile.isAdmin">
          Azure web
        </ion-item>

        -->
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>