<ion-view view-title="Spor Dalları" ng-controller="BranchCtrl">
  <ion-nav-buttons side="right">
    <button ui-sref="app.addbranch">
      Add Branch
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list show-delete="shouldShowDelete" show-reorder="shouldShowReorder" can-swipe="listCanSwipe">
      <ion-item class="item item-avatar" ng-repeat="branch in items" href="#/app/branch/{{branch.id}}">
       <!-- <img src="{{branch.thumbnailUrl}}"> --> 
        <img src="img\boy.jpg">
        {{branch.name}} 

        <ion-option-button class="button-info" ng-click="edit(branch)">
          Edit
        </ion-option-button>
        <ion-delete-button class="ion-minus-circled" ng-click="items.splice($index, 1)">
        </ion-delete-button>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>