<ion-view view-title="{{item.name}}" ng-controller="SchoolCtrl">
  <ion-nav-buttons side="right">
 <!--    <a class="button" href="#/app/updateschool/{{item.id}}">Edit School</a>
   <a class="button" href="#/app/addclass">Add Class</a>
    <a class="button" href="#/app/addroom">Add Room</a>  -->
  </ion-nav-buttons>
  <ion-content>
    <!--
    <div class="list card">

      <div class="item item-avatar">
        <!--<img src="{{item.thumbnailUrl}}"> - ->
        <img src="img\school3.png">
        <h2>{{item.name}} </h2>
      </div>
    </div>
    -->
    <div class="button-bar">
      <a class="button button-block" ng-class="{ active: isSet(3) }" ng-click="setTab(3)">Eğitmenler</a>
      <a class="button button-block" ng-class="{ active: isSet(1) }" ng-click="setTab(1)">Sınıflar</a>
      <a class="button button-block" ng-class="{ active: isSet(2) }" ng-click="setTab(2)">Salonlar</a>
      <a class="button button-block" ng-class="{ active: isSet(4) }" ng-click="setTab(4)">Öğrenciler</a>
      <a class="button button-block" ng-class="{ active: isSet(5) }" ng-click="setTab(5)">Takvim</a>
    </div>
    <div ng-show="isSet(1)">
      <div class="item item-divider">
        Classes
      </div>
      <ion-list show-delete="shouldShowDelete" show-reorder="shouldShowReorder" can-swipe="listCanSwipe">
        <ion-item class="item item-avatar item-clean" ng-repeat="item in classes" href="#/app/class/{{item.id}}">
          <img src="img\class2.png"> {{item.name}}
        </ion-item>
      </ion-list>
    </div>
    <div ng-show="isSet(2)">
      <div class="item item-divider">
        Rooms
      </div>
      <ion-list show-delete="shouldShowDelete" show-reorder="shouldShowReorder" can-swipe="listCanSwipe">
        <ion-item class="item item-avatar" ng-repeat="item in rooms" href="#/app/room/{{item.id}}">
          {{item.name}}
          <ion-option-button class="button-info" ng-click="edit(item)">
            Edit
          </ion-option-button>
          <ion-delete-button class="ion-minus-circled" ng-click="items.splice($index, 1)">
          </ion-delete-button>
        </ion-item>
      </ion-list>
      </ion-list>
    </div>
    <div ng-show="isSet(3)">
      <div class="item item-divider item-icon-right">
        Eğitmenler
 
            <!--<ion-item  class="button-clear icon" href="#/app/addteacher" style="font-size:16px">Eğitmen Ekle</ion-item >-->
      </div>
      <ion-list show-delete="shouldShowDelete" show-reorder="shouldShowReorder" can-swipe="listCanSwipe">
        <ion-item class="item item-avatar" ng-repeat="item in personel" href="#/app/teachers/{{item.id}}">
          <img src="{{item.thumbnailUrl}}"> {{item.name}} {{item.surname}}
          <ion-option-button class="button-info" ng-click="edit(item)">
            Edit
          </ion-option-button>
          <ion-delete-button class="ion-minus-circled" ng-click="items.splice($index, 1)">
          </ion-delete-button>
        </ion-item>
      </ion-list>
    </div>
    <div ng-show="isSet(4)">
      <div class="item item-divider">
        Öğrenciler
      </div>
      <ion-list show-delete="shouldShowDelete" show-reorder="shouldShowReorder" can-swipe="listCanSwipe">
        <ion-item class="item item-avatar" ng-repeat="item in students" href="#/app/students/{{item.id}}">
          <img src="{{item.thumbnailUrl}}"> {{item.name}} {{item.surname}}
          <ion-option-button class="button-info" ng-click="edit(item)">
            Edit
          </ion-option-button>
          <ion-delete-button class="ion-minus-circled" ng-click="items.splice($index, 1)">
          </ion-delete-button>
        </ion-item>
      </ion-list>
    </div>
    <div ng-show="isSet(5)">
      <div class="item item-divider">
        Takvim
      </div>
    </div>
  </ion-content>
</ion-view>
