<ion-view view-title="Okullar" ng-controller="SchoolCtrl">
  <ion-nav-buttons side="right">
    <button ui-sref="app.addschool">
      Add School
    </button>
  </ion-nav-buttons>
  <ion-content>

    <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
    </ion-refresher>

    <div class="button-bar">
      <a class="button button-block" ng-class="{ active: isSet(1) }" ng-click="setTab(1)">Okullar</a>
      <a class="button button-block" ng-class="{ active: isSet(2) }" ng-click="setTab(2)">Branşlar</a>
      <a class="button button-block" ng-class="{ active: isSet(3) }" ng-click="setTab(3)">Mesajlar</a>

    </div>
    <div ng-show="isSet(1)">
      <div class="item item-divider item-button-right">
        Okullar
        <button class="button button-icon icon " ng-click="addSchool();">
      <i class="icon ion-clock"></i>
    </button>
      </div>
        <ion-list show-delete="shouldShowDelete" show-reorder="shouldShowReorder" can-swipe="listCanSwipe">
          <ion-item class="item item-avatar" ng-repeat="school in schools" href="#/app/schools/{{school.id}}">
            <!-- <img src="{{school.thumbnailUrl}}"> -->
            <img src="img\boy.jpg"> {{school.name}}

            <ion-option-button class="button-info" ng-click="edit(school)">
              Edit
            </ion-option-button>
            <ion-delete-button class="ion-minus-circled" ng-click="items.splice($index, 1)">
            </ion-delete-button>
 
          </ion-item>
        </ion-list>
      </div>
    </div>

    <div ng-show="isSet(2)">
      <div class="item item-divider item-button-right">
        Branşlar
        <button class="button button-icon icon " ng-click="addBranch();">
      <i class="icon ion-clock"></i>
    </button>
        <ion-list show-delete="shouldShowDelete" show-reorder="shouldShowReorder" can-swipe="listCanSwipe">
          <ion-item class="item item-avatar" ng-repeat="branch in branches" href="#/app/branch/{{branch.id}}">
            <!-- <img src="{{branch.thumbnailUrl}}"> -->
            <img src="img\boy.jpg"> {{branch.name}}

            <ion-option-button class="button-info" ng-click="edit(branch)">
              Edit
            </ion-option-button>
            <ion-delete-button class="ion-minus-circled" ng-click="items.splice($index, 1)">
            </ion-delete-button>

          </ion-item>
        </ion-list>
      </div>
    </div>

    <div ng-show="isSet(3)">
      <div class="item item-divider item-button-right">
        Mesajlar
        <button class="button button-icon icon " ng-click="addSchool();">
      <i class="icon ion-clock"></i>
    </button>
      </div>
    </div>
  </ion-content>
</ion-view>