<ion-view view-title="Sınıf" ng-controller="ClassCtrl">
  <ion-nav-buttons side="right">
    <a class="button" href="#/app/updateclass/{{item.id}}">Edit</a>
  </ion-nav-buttons>
  <ion-content>
    <div class="list card">

      <div class="item item-avatar">
        <!--<img src="{{item.thumbnailUrl}}">-->
        <img src="img\class1.png">
        <h2>{{item.name}} </h2>
        <p></p>
      </div>
    </div>

    <div class="button-bar">
      <a class="button button-block" ng-class="{ active: isSet(1) }" ng-click="setTab(1)">Ders Planı</a>
      <a class="button button-block" ng-class="{ active: isSet(2) }" ng-click="setTab(2)">Eğitmenler</a>
      <a class="button button-block" ng-class="{ active: isSet(3) }" ng-click="setTab(3)">Öğrenciler</a>

    </div>
    <div ng-show="isSet(1)">
      <div class="item item-divider item-button-right">
        Ders Planı
        <button class="button button-icon icon " ng-click="openModal();">
      <i class="icon ion-clock"></i>
    </button>
      </div>
      <ion-list show-delete="shouldShowDelete" show-reorder="shouldShowReorder" can-swipe="listCanSwipe">
        <ion-item class="item item-avatar" ng-repeat="item in classtimes | orderBy : 'day'" ng-click="openModal()">
          <img src="img\schedule1.jpg"> {{item.day}} {{item.start.getHours() + ":" + item.start.getMinutes()}} {{item.room}}
          <ion-option-button class="button-info" ng-click="openModal()">
            Edit
          </ion-option-button>
          <ion-option-button class="button-assertive" ng-click="postponeNextLesson({{item}})">
            Postpone Next
          </ion-option-button>
          <ion-delete-button class="ion-minus-circled" ng-click="items.splice($index, 1)">
          </ion-delete-button>

        </ion-item>
      </ion-list>

      <button class="button button-icon icon " ng-click="createEvents();">Create</button>
    </div>
    <!--- Teachers Begin  -->

    <div ng-show="isSet(2)">
      <div class="item item-divider item-button-right">
        Eğitmenler
        <button class="button button-icon icon ion-person-add" modal-select="" ng-model="teacher" options="teachers" modal-title="Select a teacher"
          header-footer-class="bar-positive" has-search="true" sub-header-class="bar-positive" reset-button="Add New" on-reset="addNewTeacher()"
          on-select="selectTeacher(teacher)">
     
      <div class="list card option" >
        <div class="item item-avatar">
        <img src="{{option.thumbnailUrl}}"> {{option.name}} {{option.surname}} 
        </div>
      </div>
      </button>
      </div>

      <ion-list show-delete="shouldShowDelete" show-reorder="shouldShowReorder" can-swipe="listCanSwipe">
        <ion-item class="item item-avatar" ng-repeat="teacher in classteachers" href="#/app/students/{{student.id}}">
          <img src="{{teacher.thumbnailUrl}}"> {{teacher.name}} {{teacher.surname}}

          <ion-option-button class="button-info" ng-click="edit(teacher)">
            Edit
          </ion-option-button>
          <ion-option-button class="button-infoassertive button-" ng-click="deleteTeacher(teacher);">
            Delete
          </ion-option-button>

        </ion-item>
      </ion-list>
    </div>
    <!--- Teachers  End  -->
    <!--- Students Begin  -->
    <div ng-show="isSet(3)">

      <div class="item item-divider item-button-right">
        Öğrenciler
        <button class="button button-icon icon ion-person-add" modal-select="" ng-model="student" options="students" modal-title="Select a student"
          header-footer-class="bar-positive" has-search="true" sub-header-class="bar-positive" reset-button="Add New" on-reset="addNewStudent()"
          on-select="selectStudent(student)">
     
      <div class="list card option" >
        <div class="item item-avatar">
        <img src="{{option.thumbnailUrl}}"> {{option.name}} {{option.surname}} 
        </div>
      </div>
      </button>
      </div>

      <ion-list show-delete="shouldShowDelete" show-reorder="shouldShowReorder" can-swipe="listCanSwipe">
        <ion-item class="item item-avatar" ng-repeat="student in classstudents" href="#/app/students/{{student.id}}">
          <img src="{{student.thumbnailUrl}}"> {{student.name}} {{student.surname}}

          <ion-option-button class="button-info" ng-click="edit(student)">
            Edit
          </ion-option-button>
          <ion-delete-button class="ion-minus-circled" ng-click="classstudents.splice($index, 1)">
          </ion-delete-button>
        </ion-item>
      </ion-list>
    </div>
    <!--- Students  End  -->

  </ion-content>

  <script id="add-class-time.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar>
        <h1 class="title">Ders günü ve saatini seçiniz.</h1>
      </ion-header-bar>
      <ion-content>
        <div class="list">

          <label class="item item-input item-select">
    <div class="input-label">
      Day
    </div>
    <select ng-model="classtime.day">
     <option ng-repeat="option in weekdays" value="{{option.id}}">{{option.name}}</option>
  </label>

          <label class="item item-input item-select">
    <div class="input-label">
      Eğitim Salonu
    </div>
    <select ng-model="classtime.room">
      <option ng-repeat="room in rooms">{{room.name}}</option>
      
    </select>
  </label>

          <label class="item item-input" name="start">
     <div class="input-label">
      Time</div>
            <input type="time" ng-model="classtime.start">
        </label>
          <input type="hidden" ng-model="classid">
        </div>
        <button ng-click="addClassTime(classtime)" class="button button-positive button-full">
            Create
        </button>

      </ion-content>
    </ion-modal-view>
  </script>
</ion-view>