<ion-view view-title="Sınıflar" ng-controller="ClassCtrl">
  <ion-nav-buttons side="right">
    <button ui-sref="app.addstudent">
      Add Student
    </button>
    
  </ion-nav-buttons>
  <ion-content>
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list show-delete="shouldShowDelete" show-reorder="shouldShowReorder" can-swipe="listCanSwipe">
      <ion-item class="item item-avatar" ng-repeat="item in items" href="#/app/class/{{item.id}}">
        <!--<img src="{{item.thumbnailUrl}}">-->
        <img src="img\class1.png"> 
        {{item.name}} 

        <ion-option-button class="button-info" ng-click="edit(item)">
          Edit
        </ion-option-button>
        <ion-delete-button class="ion-minus-circled" ng-click="items.splice($index, 1)">
        </ion-delete-button>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>