<ion-view view-title="Add Teacher" ng-controller="TeacherCtrl">
  <ion-content class="padding">
    <div class="list list-inset">
      <div class="row">
        <div class="col">col 1</div>
        <div class="col">

        </div>
       
        <div class="col">col 4</div>
      </div>


          <label class="item item-input item-stacked-label">
    <span class="input-label">Name</span>
    <input type="text"  ng-model="item.name">
    </input>
  </label>

 <div class="col" <label class="item item-input item-stacked-label">
          <span class="input-label">Name</span>
          <input type="text" ng-model="item.name"></input>
          </label>
        </div>

      <label class="item item-input item-stacked-label">
    <span class="input-label">Phone</span>
    <input type="text" ng-model="item.phone" ></input>
  </label>
      <label class="item item-input item-stacked-label">
    <span class="input-label">Email</span>
    <input type="text" ng-model="item.email" ></input>
  </label>
      <label class="item item-input item-stacked-label">
    <span class="input-label">Street</span>
    <input type="text" ng-model="item.street" ></input>
  </label>
      <label class="item item-input item-stacked-label">
    <span class="input-label">City</span>
    <input type="text" ng-model="item.city" ></input>
  </label>
      <label class="item item-input item-stacked-label">
    <span class="input-label">State</span>
    <input type="text" ng-model="item.state" ></input>
  </label>
      <label class="item item-input item-stacked-label">
    <span class="input-label">Postcode</span>
    <input type="text" ng-model="item.postcode" ></input>
  </label>
      <ion-list>
        <ion-checkbox ng-model="item.isSchoolAdmin">School Admin</ion-checkbox>
        <ion-checkbox ng-model="item.isClassAdmin">Class Admin</ion-checkbox>
        <ion-checkbox ng-model="item.isAcceptPayment">Accept Payment</ion-checkbox>
        <ion-checkbox ng-model="item.isViewer">Viewer</ion-checkbox>
      </ion-list>
    </div>
    <button class="button button-block button-calm" ng-click="addItem(item)">Save</button>
  </ion-content>
</ion-view>
