<ion-view view-title="Eğitmen Ekle" ng-controller="TeacherCtrl">
    <ion-content scroll="false">
        <div class="maincontent">
            <div class="sidebar ">
                <div class="list card  ">
                    <div class="item item-body">
                        <img class="full-image" src={{item.image}} ng-src="{{image}}">
                        <p>
                            <button class="button button-full button-positive icon-left  ion-aperture" ng-click="takePicture()">Fotoğraf Çek</button>
                        </p>
                    </div>
                    <div class="row">
                        <div class="col ">
                            <div class="row">
                                <div class="col">Lisans No</div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <input type="text" ng-model="item.licence" placeholder="Lisans no giriniz." />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">Vize Başlangıç </div>
                        <div class="col">
                            <input type="date" ng-model="item.vizeBaslangic" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">Vize Bitiş </div>
                        <div class="col">
                            <input type="date" ng-model="item.vizeBitis" />
                        </div>
                    </div>
                    <div class=row>
                        <button class="button button-block button-calm" ng-click="addItem(item)">Save</button>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <div class="content">
            <!-- Birinci Satır  Başlangıç-->
            <div class="list card">

                <div class="item item-divider item-icon-left item-icon-right   " ng-click="showOzluk = !showOzluk" ng-init="showOzluk=true">
                    <i class="icon ion-ios-person"></i> Özlük bilgileri
                    <i ng-class="{'icon ion-arrow-up-b': showOzluk, 'icon ion-arrow-down-b': !showOzluk}"> </i>
                </div>

                <div ng-show="showOzluk" class="  item item-body">
                    <div class="row">
                        <!--Adı -->
                        <div class="col">
                            <div class="row">
                                <div class="col">Adı</div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <input type="text" ng-model="item.name" placeholder="Adını giriniz." />
                                </div>
                            </div>
                        </div>
                        <!--Soyadı -->
                        <div class="col">
                            <div class="row">
                                <div class="col">Soyadı</div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <input type="text" ng-model="item.surname" placeholder="Soyadını giriniz." />
                                </div>
                            </div>
                        </div>
                        <!--Doğum Tarihi -->
                        <div class="col">
                            <div class="row">
                                <div class="col">Doğum Tarihi</div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <input type="date" ng-model="item.birthDate" placeholder="Doğum tarihini giriniz.." />
                                </div>
                            </div>
                        </div>
                        <!--Doğum Yeri -->
                        <div class="col">
                            <div class="row">
                                <div class="col">Doğum Yeri</div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <input type="text" ng-model="item.birthPlace" placeholder="Doğum yerini giriniz." />
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--- Birinci Satır Bitiş -->
                    <!-- İkinci Satır  Başlangıç-->
                    <div class="row">
                        <!--TCKN -->
                        <div class="col col-25">
                            <div class="row">
                                <div class="col">Cep Telefonu</div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <input type="tel" ng-model="item.mobilePhone" placeholder="Telefon giriniz." />
                                </div>
                            </div>
                        </div>
                        <div class="col col-25">
                            <div class="row">
                                <div class="col">Ev Telefonu</div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <input type="tel" ng-model="item.phone" placeholder="Telefon giriniz.." />
                                </div>
                            </div>
                        </div>
                        <!--Doğum Tarihi -->
                        <div class="col">
                            <div class="row">
                                <div class="col">Adres 1</div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <input type="text" ng-model="item.address" placeholder="Adres giriniz." />
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--- İkinci Satır Bitiş -->
                    <!-- Üçüncü Satır  Başlangıç-->
                    <div class="row">
                        <!--TCKN -->
                        <div class="col col-25">
                            <div class="row">
                                <div class="col">TCKN</div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <input type="text" ng-model="item.tckn" placeholder="TCKN giriniz." />
                                </div>
                            </div>
                        </div>
                        <!--SGK -->
                        <div class="col col-25">
                            <div class="row">
                                <div class="col">SGK</div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <input type="text" ng-model="item.sgk" placeholder="SGK no giriniz." />
                                </div>
                            </div>
                        </div>
                        <!--Doğum Tarihi -->
                        <div class="col">
                            <div class="row">
                                <div class="col">Adres 1</div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <input type="text" ng-model="item.address2" placeholder="Adres giriniz." />
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--- Üçüncü Satır Bitiş -->
                    <!-- Dördüncü Satır  Başlangıç-->
                    <div class="row">
                        <!--  -->
                        <div class="col col-25">
                            <div class="row">
                                <div class="col">Email</div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <input type="text" ng-model="item.email" placeholder="TCKN giriniz." />
                                </div>
                            </div>
                        </div>
                        <div class="col col-25">
                            <div class="row">
                                <div class="col">Admin</div>
                            </div>
                            <div class="row">
                                <label class="toggle">
                  <input type="checkbox" ng-model="item.isSchoolAdmin">
                  <div class="track">
                    <div class="handle"></div>
                  </div>
                </label>
                            </div>
                        </div>
                        <!--  -->
                        <div class="col col-25">
                            <div class="row">
                                <div class="col">İşe Giriş Tarihi </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <input type="date" ng-model="item.workBegin" />
                                </div>
                            </div>
                        </div>
                        <!--    -->
                        <div class="col col-25">
                            <div class="row">
                                <div class="col">İşten Çıkış Tarihi </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <input type="date" ng-model="item.workEnd" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--- Dördüncü Satır Bitiş -->
            <div class="list card">
                <div class="item item-divider item-icon-left item-icon-right   " ng-click="showSalary = !showSalary" ng-init="showSalary=true">
                    <i class="icon ion-cash"></i> Ücret
                    <i ng-class="{'icon ion-arrow-up-b': showSalary, 'icon ion-arrow-down-b': !showSalary}"> </i>

                </div>
                <div ng-show="showSalary" class="row item item-body">
                    <div class="col">
                        <div class="list">
                            <label class="  item-input">
                    <span class="input-label">Aylık</span>
                    <input type="number" ng-model="item.montlySalary" />
                </label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="list">
                            <label class="  item-input">
                    <span class="input-label">Saat</span>
                   <input type="number" ng-model="item.hourlySalary" />
                </label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="list">
                            <label class="  item-input">
                    <span class="input-label">Yüzde</span>
                    <input type="number" ng-model="item.percentSalary" />
                </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list card">
                <div class="item item-divider item-icon-left item-icon-right   " ng-click="showDocs = !showDocs" ng-init="showDocs=true">
                    <i class="icon ion-ios-paper"></i> Dökümanlar
                    <div class="  button-bar item-icon-right">
                        <i ng-class="{'icon ion-arrow-up-b': showDocs, 'icon ion-arrow-down-b': !showDocs}"> </i>
                        <i class="button-clear icon" ng-click="openModal()" style="font-size:16px">Doküman Ekle</i>
                        </i>

                    </div>
                </div>

                <ion-list ng-show="showDocs" show-delete="shouldShowDelete" show-reorder="shouldShowReorder" can-swipe="listCanSwipe">
                    <ion-item class="item item-avatar" ng-repeat="item in documents">
                        <div class="row">
                            <div class="col"> {{item.name}}</div>
                            <div class="col"> {{item.issuedate | date: 'dd-MM-yyyy' }}</div>
                            <div class="col"> {{item.validdate | date: 'dd-MM-yyyy' }}</div>
                            <div class="col"></div>
                        </div>
                        <ion-option-button class="button-info" ng-click="edit(item)">
                            Edit
                        </ion-option-button>
                        <ion-delete-button class="ion-minus-circled" ng-click="items.splice($index, 1)">
                        </ion-delete-button>
                    </ion-item>
                </ion-list>

            </div>
        </div>
        </div>

    </ion-content>
</ion-view>