<ion-view view-title="Teacher" ng-controller="TeacherCtrl">
  <ion-nav-buttons side="right">
    <a class="button" href="#/app/updateteacher/{{item.id}}">Edit Teacher</a>
  </ion-nav-buttons>
  <ion-content>
    <div class="list card">




      <div class="item item-avatar">
        <img src="{{item.thumbnailUrl}}">
        <h2>{{item.name}} {{item.surname}}</h2>
        <p>November 05, 1955</p>
      </div>

      <div class="item item-body">
        <img src="{{item.imageUrl}}">
        <p>
          This is a "Facebook" styled Card. The header is created from a Thumbnail List item, the content is from a card-body consisting
          of an image and paragraph text. The footer consists of tabs, icons aligned left, within the card-footer.
        </p>
        <p>
          <a href="#" class="subdued">1 Like</a>
          <a href="#" class="subdued">5 Comments</a>
        </p>
      </div>

    </div>
  </ion-content>
</ion-view>