<ion-view view-title="Öğrenciler" ng-controller="StudentCtrl">
  <ion-nav-buttons side="secondary">
     
    <button ui-sref="app.addstudent">
      Add Student
    </button>
    <button ng-click="addRandomItem();">Add Random Student</button>
    
    <button class="button button-icon icon ion-ios-search-strong" ng-click="showFilterBar();">
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list show-delete="shouldShowDelete" show-reorder="shouldShowReorder" can-swipe="listCanSwipe">
      <ion-item class="item item-avatar" ng-repeat="student in items" href="#/app/students/{{student.id}}">
        <img src="{{student.thumbnailUrl}}"> {{student.name}} {{student.surname}}

        <ion-option-button class="button-info" ng-click="edit(student)">
          Edit
        </ion-option-button>
        <ion-delete-button class="ion-minus-circled" ng-click="items.splice($index, 1)">
        </ion-delete-button>

          <ion-option-button class="button-assertive button-" ng-click="deleteItem(student);">
          Delete
        </ion-option-button>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>